<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SharedEconomy &copy;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li [routerLink]="['']" routerLinkActive="active" class="nav-item">
        <a class="nav-link" href="#">Offers
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" dropdown>
      <a class="nav-link dropdown-toggle" role="button" dropdownToggle>
        <span class="navbar-text mr-2">{{user.username}}</span>
        <fa-icon icon="user-circle"></fa-icon>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" *dropdownMenu>
        <a [routerLink]="['profile']" routerLinkActive="active" class="dropdown-item">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>
        <div class="dropdown-divider"></div>
        <a (click)="logout()" [routerLink]="['/login']" class="dropdown-item">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
